:host {
  flex-basis: 122.5rem;
  background-color: var(--panel-black);
  border: .1rem solid var(--outline-panel);
  border-radius: var(--panel-radious);

  section {
    margin: 2.9rem 3.5rem ;
  }
}
