span {
  display: block;
  background-color: var(--dark-green);
  padding: .7rem 1.3rem;
  border-radius: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--main-black);
  width: fit-content;
}
