@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/fonts/GalanoGrotesque/GalanoGrotesqueSemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
