@font-face {
  font-family: 'RedHatDisplay';
  src: url('/RedHatDisplay/RedHatDisplay-Black.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/RedHatDisplay/RedHatDisplay-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/RedHatDisplay/RedHatDisplay-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/RedHatDisplay/RedHatDisplay-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/RedHatDisplay/RedHatDisplay-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
