:host {
  top: 3.5rem;
  position: sticky;
  flex-grow: 1;
  flex-basis: 66.5rem;
  height: fit-content;
  min-width: 48rem;
  background-color: var(--panel-black);
  border: .1rem solid var(--outline-panel);
  border-radius: var(--panel-radious);
  overflow: hidden;
}
