<div class="table">
  <div class="table-header">
    <div class="row">
      <div>ITEM</div>
      <div>{{ tableType() === 'materials' ? 'PRICE' : 'HOUR'}}</div>
      <div>{{ tableType() === 'materials' ? 'QTY' : 'RATE'}}</div>
      <div>TOTAL</div>
      <div></div>
    </div>
  </div>
  <div class="table-body">
    @for(item of items(); track $index) {
    <div class="row">
      <input type="text" [value]="item.name" (blur)="updateValue($event.target, $index, 'name')">
      <input type="number" [value]="item.price" (blur)="updateValue($event.target, $index, 'price')">
      <input type="number" [value]="item.quantity" (keydown.enter)="addRow()" (blur)="updateValue($event.target, $index, 'quantity')">
      <div> ${{ totalSumatory(item) !== 'NaN' ? totalSumatory(item) : '---' }}</div>
      <div (click)="deleteRow($index)">
        <img src="/icons/papelera-xmark.svg" alt="Delete Item" />
      </div>
    </div>
    }
    <div class="add-row" (click)="addRow()">
      <img src="/icons/add.svg" alt="Add Item">
    </div>
  </div>
</div>
