@import 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 100%;
    flex: 1;
    flex-grow: 1;
    height: 100%;
    display: flex;
    padding: 3.5rem 2rem;
    max-width: 1800px;
    justify-content: center;
    gap: 3.5rem;

    @include for-tablet-landscape{
      flex-wrap: wrap;
    }
  }
}
