@import 'fonts';

* {
  font-family: 'GalanoGrotesque', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      box-shadow: 0px 0px 5px 0px #151804 inset;
      border-radius: 20px;
    }

    &-thumb {
      background-color: #6f8000;
      border-radius: 20px;
    }

    &-button {
      cursor: pointer;
      transform: all .5s;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 3rem;
    }

  }
}

:root {
  --main-black: #09090B;
  --darker-black: #000000;
  --panel-black: #151515;
  --outline-panel: #474747;
  --main-green: #DCFF00;
  --dark-green: #C1DF00;
  --main-white: #FFFFFF;

  --panel-radious: 1.3rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  color: var(--main-white);
  background-color: var(--darker-black);
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
